USE [master]
GO
/****** Object:  Database [FacultyManagement]    Script Date: 22/02/2023 11:13:42 CH ******/
CREATE DATABASE [FacultyManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FacultyManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\FacultyManagement.mdf' , SIZE = 13312KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FacultyManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\FacultyManagement_log.ldf' , SIZE = 24384KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FacultyManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FacultyManagement]
GO
/****** Object:  Table [dbo].[TblEthic]    Script Date: 22/02/2023 11:13:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblEthic](
	[ethnicID] [nvarchar](50) NOT NULL,
	[ethnicName] [nvarchar](50) NULL,
 CONSTRAINT [PK_TblEthic] PRIMARY KEY CLUSTERED 
(
	[ethnicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblFaculty]    Script Date: 22/02/2023 11:13:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblFaculty](
	[facultyID] [varchar](10) NOT NULL,
	[facultyName] [nvarchar](50) NULL,
	[location] [nvarchar](200) NULL,
	[cellphone] [varchar](50) NULL,
 CONSTRAINT [PK_TblFaculty] PRIMARY KEY CLUSTERED 
(
	[facultyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblLecturer]    Script Date: 22/02/2023 11:13:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblLecturer](
	[lecturerID] [varchar](10) NOT NULL,
	[lecturerName] [nvarchar](50) NULL,
	[birthday] [date] NULL,
	[gender] [bit] NULL,
	[image] [nvarchar](max) NULL,
	[ethnic] [varchar](10) NULL,
	[religion] [varchar](20) NULL,
	[nationality] [varchar](20) NULL,
	[address] [varchar](50) NULL,
	[subject] [varchar](50) NULL,
	[facultyID] [varchar](10) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[lecturerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblNationality]    Script Date: 22/02/2023 11:13:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblNationality](
	[nationalityID] [nvarchar](50) NOT NULL,
	[nationalityName] [nvarchar](50) NULL,
 CONSTRAINT [PK_TblNationality] PRIMARY KEY CLUSTERED 
(
	[nationalityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblReligion]    Script Date: 22/02/2023 11:13:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblReligion](
	[religionID] [nvarchar](50) NOT NULL,
	[religionName] [nvarchar](50) NULL,
 CONSTRAINT [PK_TblReligion] PRIMARY KEY CLUSTERED 
(
	[religionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblUsers]    Script Date: 22/02/2023 11:13:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblUsers](
	[userID] [varchar](10) NOT NULL,
	[fullName] [nvarchar](50) NULL,
	[password] [varchar](50) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_TblUsers] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TblEthic] ([ethnicID], [ethnicName]) VALUES (N'1', N'Kinh')
INSERT [dbo].[TblEthic] ([ethnicID], [ethnicName]) VALUES (N'2', N'Tay')
INSERT [dbo].[TblEthic] ([ethnicID], [ethnicName]) VALUES (N'3', N'Muong')
INSERT [dbo].[TblFaculty] ([facultyID], [facultyName], [location], [cellphone]) VALUES (N'12312', N'Software Engineering 2', N'FPT/Long Thanh My/ Quan /TphCM', N'0938173622')
INSERT [dbo].[TblFaculty] ([facultyID], [facultyName], [location], [cellphone]) VALUES (N'321231', N'English', N'21a/Binh Duong', N'123456789')
INSERT [dbo].[TblFaculty] ([facultyID], [facultyName], [location], [cellphone]) VALUES (N'52232', N'Finance and Banking', N'D1/Long Thanh My/Tp Thu Duc', N'0338876652')
INSERT [dbo].[TblNationality] ([nationalityID], [nationalityName]) VALUES (N'1', N'VietNamese')
INSERT [dbo].[TblNationality] ([nationalityID], [nationalityName]) VALUES (N'2', N'American')
INSERT [dbo].[TblNationality] ([nationalityID], [nationalityName]) VALUES (N'3', N'British')
INSERT [dbo].[TblReligion] ([religionID], [religionName]) VALUES (N'1', N'No religious')
INSERT [dbo].[TblReligion] ([religionID], [religionName]) VALUES (N'2', N'Catholicism')
INSERT [dbo].[TblReligion] ([religionID], [religionName]) VALUES (N'3', N'Buddhism')
INSERT [dbo].[TblUsers] ([userID], [fullName], [password], [status]) VALUES (N'SE140506', N'Nguyen Le Hoang Chinh', N'123456', 1)
INSERT [dbo].[TblUsers] ([userID], [fullName], [password], [status]) VALUES (N'SE140507', N'Tran Van Nam', N'123456', 0)
INSERT [dbo].[TblUsers] ([userID], [fullName], [password], [status]) VALUES (N'SE140508', N'Tran Hao Nam', N'123456', 1)
ALTER TABLE [dbo].[TblLecturer]  WITH CHECK ADD  CONSTRAINT [fk_facultyid] FOREIGN KEY([facultyID])
REFERENCES [dbo].[TblFaculty] ([facultyID])
GO
ALTER TABLE [dbo].[TblLecturer] CHECK CONSTRAINT [fk_facultyid]
GO
USE [master]
GO
